/* Global Theme Mode Colors */
$lm-toolbar-background-color: #d3d3d3;
$dm-toolbar-background-color: #121212;
$main-bg-color: #121212;

/* Toolbar Menu Colors */
$toolbar-background-color: #1e1e1e;

/* Cyber Menu Colors */
$cybermenu-bg-color: #333333;
// $dropdown-menu-bg-color: #5f9ea0; // Cadet Blue
// $dropdown-menu-bg-color: #00416a; // Indigo Dye
// $dropdown-menu-bg-color: #5f8a8b; // Steel Teal
// $dropdown-menu-bg-color: #4f666a; // Stormcloud
// $dropdown-menu-bg-color: #367588; // Teal Blue
// $dropdown-menu-bg-color: #0f4d92; // Yale Blue
// $dropdown-menu-bg-color: #3b5998; // Facebook Blue
// $dropdown-menu-bg-color: #2c3e50; // Midnight Blue
$dropdown-menu-bg-color: #1abc9c; // Turquoise
// $dropdown-menu-bg-color: #16a085; // Green Sea
// $dropdown-menu-bg-color: #2980b9; // Belize Hole
// $dropdown-menu-bg-color: #8e44ad; // Wisteria
// $dropdown-menu-bg-color: #d35400; // Pumpkin
// $dropdown-menu-bg-color: #c0392b; // Pomegranate

$hover-color: #ff2079;
$transition-effect: all 0.3s ease;
$secondary-bg-color: #0f0f0f;
$hover-bg-color: #1a1a1a;
$highlight-color: #ff00ff;
$highlight-shadow: 0 0 5px $highlight-color, 0 0 10px $highlight-color,
  0 0 15px $highlight-color, 0 0 20px $highlight-color;
$white-color: rgba(255, 255, 255, 1);
$accent-color: #ff00ff;
$dark-color: rgba(60, 60, 60, 1);
$warning-color: #ffff00;
$black-color: rgba(33, 33, 33, 1);

/* App-Card Colors */

$card-header-color: #2a2a2a;
$card-body-footer-color: #3a3a3a;

/* User-Form Colors */
$section-bg-color: #2a2a2a; /* Dark background for section */
$error-color: #ff4d4d; /* Bright red for errors */
$button-bg-color: #1a73e8; /* Darker blue for buttons */
$button-hover-bg-color: #1558b3; /* Even darker blue for button hover */
$button-text-color: #e0e0e0; /* Light text color for buttons */
$form-heading-color: #e0e0e0; /* Light color for dark theme */
