<div class="comment-container">
  <div *ngFor="let comment of comments" class="comment">
    <img
      [src]="comment.user.profilePicture"
      alt="User Profile"
      class="profile-pic"
    />
    <div class="comment-body">
      <h4>{{ comment.user.name }}</h4>
      <p>{{ comment.text }}</p>
    </div>
  </div>

  <div class="add-comment">
    <input
      type="text"
      [(ngModel)]="newCommentText"
      placeholder="Write a comment..."
    />
    <button (click)="addComment()">Post</button>
  </div>
</div>
