.cube-wrapper {
  perspective: 1000px;
}

.cube {
  position: relative;
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  animation: rotate 20s infinite;
  //   animation: randomRotate 20s infinite;
}

.face {
  position: absolute;
  width: 50px;
  height: 50px;
  // box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* add shadow */
  border: 1px solid #333; /* add border */

  // /* center number */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #fff;
}

.front {
  transform: rotateY(0deg) translateZ(25px);
  // background: #1e1e1e;
  background-image: url("https://blog.flamingtext.com/blog/2024/08/13/flamingtext_com_1723581882_618471439.png"),
    url("https://i.gifer.com/b6u.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.back {
  transform: rotateX(180deg) translateZ(25px);
  // background: #ff00ae;
  background: url("https://i.gifer.com/ZNec.gif"), #00008b;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.right {
  transform: rotateY(90deg) translateZ(25px);
  background: url("https://i.gifer.com/DDt.gif") #000000;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.left {
  transform: rotateY(-90deg) translateZ(25px);
  // background: #4600ff;

  background: url("https://i.gifer.com/Z23N.gif"), #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.top {
  transform: rotateX(90deg) translateZ(25px);
  // background: #0077ff;
  background: url("https://i.gifer.com/31Ck.gif");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.bottom {
  transform: rotateX(-90deg) translateZ(25px);
  // background: #00aeff;

  background: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbnd3bzd0ZmE3bWZya205dHdmYnR3ODBtdzFjdGkzd2J3NDEzNjl1YSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9cw/YbgixxpzGS9Oe8ghP1/giphy.gif"),
    #000000;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes rotate {
  0%,
  20% {
    transform: rotateX(0) rotateY(0);
  }
  40%,
  60% {
    transform: rotateX(360deg) rotateY(360deg);
  }
  80%,
  100% {
    transform: rotateX(0) rotateY(0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
